@CHARSET "ISO-8859-1";
.CL-NewContact--Container{
	margin:1em;
}


.CL-NewContact--Label{
	display:block;
	text-align: right;
	float:left;	
}

.CL-NewContact--Title{
	margin-bottom:1em;
}

.CL-Banner--Link{
	float:left;
}

.CL-ContactList--Search-Form{
	float:left;
	white-space:nowrap;
}

.CL-ContactList--Search-Input{	
	width: 10em !important;
	height: 33.24px !important;
	bottom:-1px;
}

.CL-ContactList--Button-Panel{
	white-space:nowrap;
}

.CL-ContactList--New-Contact-Button{
	margin-left: 0.250em;
}

.CL-ContactList--Edit-Form{
	float:left;
	white-space:nowrap;
	margin-right: 0.250em;
}